appdirs==1.4.4
asgiref==3.5.2
astroid==2.12.5
atomicwrites==1.4.1
attrs==22.1.0
autopep8==1.7.0
bootstrap4==0.1.0
Cython==0.29.19
dj-database-url==1.0.0
dj-static==0.0.6
Django==4.1
django-bootstrap3==22.1
django-filter==22.1
django-heroku==0.3.1
gunicorn==20.1.0
Pillow==9.2.0
psycopg2==2.9.3
static3==0.7.0
