{% extends "app/base.html"%}
{% load bootstrap3 %}
{% block title %} Result {% endblock title %}
{% block content %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="d-flex justify-content-center container my-5">
    <form action="/editurecipe/{{recipe.id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
            <button type="submit" class="btn btn-success my-4">Update</button>
    </form>
</div>
{% endblock content %}
{% block script %}

{% endblock script %}
